  
.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
    height: 10%
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 2%;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #33cc80 ;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
  }

  @media (min-width: 240px) and (max-width: 630px) {
    .sendButton {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #33cc80 ;
      padding: 20px;
      display: inline-block;
      border: none;
      width: 30%;
    }

    .input {
      border: none;
      border-radius: 0;
      padding: 2%;
      width: 70%;
      font-size: 1.2em;
    }
  }