html, body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .startOuterContainer {
    background-color: #575763;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
  }
  
  .startContainer {
    width: 20%;
  }
  
  .startInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .header {
    color: white;
    border-bottom: 2px solid white;
    font-size: 2.5em;
    padding-bottom: 10px;
    
  }

  .startInput{
    border-radius: 0;
    padding: 15px 20px;
    width:100%;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #33cc80;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}
 