.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #33cc80 !important; 
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
  }
  
  .leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
  }
  
  .rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 2%;
  }

  .close{
      width: 10%;
  }
  
  .closeLink{
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
  }

  @media (min-width: 240px) and (max-width: 630px) {
    .rightInnerContainer {
      display: flex;
      flex: 0.5;
      justify-content: flex-end;
      margin-right: 3%;
    }
  }
  