.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #575763;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    height: 100%;
    width: 80%;
  }

  @media (min-width: 240px) and (max-width: 630px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #FFFFFF;
      border-radius: 8px;
      height: 100%;
      width: 100%;
    }
  }