.innerTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-right: 2px solid #D3D3D3;;
    height: 100%;
    width: 20%;
  }

  .member-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background:  #33cc80;
    border-radius: 10px;
    height: 59px;
    width:100%;
    overflow: hidden;
  }

  .member-name{
    position: relative;
    color: white;
    font-weight: normal;
    font-size: 1.5em;
  }

  .mt-3{
      margin-top: 3px;
  }
  
  .label{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #33cc80 !important;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
    margin: 0;
    color: white;
  }

  .bottomTextContainer{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
  }

  @media (min-width: 240px) and (max-width: 630px) {
    .innerTextContainer {
      display: none;
    }
  }